<div class="card">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/cart/list.css') }}" />
    <div class="card-header bg-dark text-white d-flex">
        <h5 class="px-1">Items</h5>
        <div class="ml-auto">
{#            <a href="{{ path('cart.save', {id: items}) }}" class="btn btn-warning">Save</a>#}
{#            <a href="{{ path('cart.clear')}}" class="btn btn-light">Clear</a>#}
{#            <a onclick="location.href = {{ path('cart.clear') }}" class="btn btn-light">Clear</a>#}
{#            <button class="btn btn-light" type="submit">Clear</button>#}

{#            {{ form_widget(form.save, {'attr': {'class': 'btn btn-warning'}}) }}#}
{#            {{ form_label(form.clear) }}#}
{#            {{ form_widget(form.clear, {'attr': {'class': 'btn btn-light'}}) }}#}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {% for quantityItem in quantityItems %}
            <li class="list-group-item d-flex">
                <div class="flex-fill mr-2">
                    <img src="https://via.placeholder.com/200x150" width="64" alt="Product image">
                </div>
                <div class="flex-fill mr-2">
                    <h5 class="mt-0 mb-0">{{ quantityItem.name }}</h5>
                    <small>{{ quantityItem.description[:50] }}...</small>
                </div>
                <div class="flex-fill mr-2">
                    <input class="quantity-input" id="quantity_{{ quantityItem.id }}" value="{{ quantityItem.quantity }}" placeholder="quantity" type="text">
                </div>
                <div class="flex-fill mr-2 text-right">
                    <b>{{ quantityItem.price }} €</b>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>