{% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ asset('build/images/product_image.jpg') }}" alt="{{ product.name }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">{{ product.brand }}</p>
                <div class="d-flex justify-content-between align-item-center">
                    <a href="{{ path('product.detail', {id: product.id}) }}" class="btn btn-dark">View details</a>
                    <span class="h5 mt-auto">{{ product.price }} €</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}